body {
    font-family: 'Barlow', sans-serif;
}

//colors
$yellow: #FDE274;
$yellow-c3po: #F5C255; 
$blue: #54608A;
$light-gray: #c3d7df;
$light-blue: #6991ac;
$orange: #d75c37;
$white: #ffffff;
$dark: #091729;